.title2{
    text-align: center;
    margin: 100px;
    font-size: 80px;
}
.item{
    background: red;
    color: aqua;
    justify-content: center;
    align-items: center;
    height: 30rem;
    display: flex;
}
.item h4{
     font-size: 30px;
}
.owl-container
{
    max-width: 900px;
    margin:0 auto;
}